*{
    padding: 0;
    margin: 0
}
body {
  position: fixed;
  background-image: url("../mars_planet.jpg");
  background-size: 2000px 1000px;
}
        header {   
            background-color: blue;
            left: 0px;
            top: 0px;
            bottom: 0px;
            width: 260px;
    }

    .logo {
  max-width: 150px;
  max-height: 150px;
  position: fixed;
  top: 5px;
  left: 5px;
}

    aside {
        background-image: url("../metalic.png");
        position: fixed;
        right: 0px;
        width: 15%;
        bottom: 0px;
        top: 0px; 
    }

    .welcome {
        position: fixed;
        margin: auto;
        width: 84%;
        height: 40%;
        top: 40%
    }
        footer {
        left: 0px;
        width: 260px;
        bottom: 50px;
    }

    ul { list-style-type: none;}
li { display: inline-block;}

a {
  color: #42b983;
  padding: 10px;
}

    .presentation {
  position: fixed;
  right: 40%;
  top: 40%;
  text-align: center;
}

h1 {   font-size:50px;
       font-family: Verdana;
       color: DimGrey;
       filter: brightness(50%);
       padding: 0px;
       border: 0px;
       margin: 0px;
    }

p {   font-size: 20px;
    font-family: Verdana;
       color: DimGrey;
       filter: brightness(50%);
    padding: 0px }

    .info {
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 300px;
  color: white;
  text-align: center;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
